<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span class="md-toolbar-color">Login</span></h2> </md-toolbar>
        <form ng-submit="login.doLogin()">
            <md-content layout="column" class="md-padding">
                <md-input-container>
                    <label>UserName</label>
                    <input type="text" ng-model="login.loginData.username" /> </md-input-container>
                <md-input-container>
                    <label>Password</label>
                    <input type="password" ng-model="login.loginData.password" /> </md-input-container>
                <div layout="row" layout-align="center center" style="padding-top:20px;">
                    <md-button type="submit" class="md-raised md-primary">Login</md-button>
                    <div flex="flex"></div>
                    <md-button href="" md-no-ink="md-no-ink">Forgot Password</md-button>
                </div>
                 <div layout="row" layout-align="center center" style="padding-top:20px;" ng-if="login.error">
                    {{ login.error }}
                </div>
            </md-content>
        </form>
    </div>
</div>
