<div layout="column">
    <md-toolbar class="md-whiteframe-1dp">
        <div class="md-toolbar-tools">
            <div class="md-title">Material Design Data Table</div>
        </div>
    </md-toolbar>
    <md-content laout="column" flex>
        <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
                <div class="md-toolbar-tools"> <span>Nutrition</span>
                    <div flex></div>
                    <button md-icon-button md-button ng-click="createUser($event)" class="md-raised md-primary">
                        <md-icon class="material-icons">add</md-icon> Create User </button>
                    <md-button class="md-icon-button" ng-click="loadStuff()">
                        <md-icon>refresh</md-icon>
                    </md-button>
                    <!--<button class="md-icon-button md-button md-ink-ripple" type="button" ng-transclude="" ng-click="filter.show = true" aria-label="filter_list">
                      <md-icon class="material-icons">filter_list</md-icon>
                    </button>-->
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length">
                <div class="md-toolbar-tools"> <span>{{selected.length}} {{selected.length > 1 ? 'items' : 'item'}} selected</span> </div>
            </md-toolbar>
            <md-table-container>
                <table md-table md-row-select="options.rowSelection" multiple="{{options.multiSelect}}" ng-model="selected" md-progress="promise">
                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                        <tr md-row>
                            <th md-column md-order-by="_id"><span>_id</span></th>
                            <th md-column md-order-by="name"><span>Name</span></th>
                            <th md-column md-order-by="username"><span>UserName</span></th>
                            <th md-column><span>Edit</span></th>
                            <th md-column><span>Delete</span></th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="dessert" md-on-select="logItem" md-auto-select="options.autoSelect" ng-repeat="person in user.users | filter: filter.search | orderBy: query.order | limitTo: query.limit : (query.page -1) * query.limit">
                            <td md-cell>{{person._id}}</td>
                            <td md-cell>{{person.name}}</td>
                            <td md-cell>{{person.username}}</td>
                            <td md-cell>
                                <md-button class="md-icon-button" id="edit">
                                    <a ng-href="/users/{{ person._id }}">
                                        <md-icon>edit</md-icon>
                                    </a>
                                </md-button>
                            </td>
                            <td md-cell>
                                <md-button class="md-icon-button" id="edit">
                                    <a href="#" ng-click="user.deleteUser(person._id)">
                                        <md-icon>delete</md-icon>
                                    </a>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>
            <md-table-pagination md-limit="query.limit" md-limit-options="limitOptions" md-page="query.page" md-total="{{desserts.count}}" md-page-select="options.pageSelect" md-boundary-links="options.boundaryLinks" md-on-paginate="logPagination"></md-table-pagination>
        </md-card>
    </md-content>
</div>
